#user_login{
    position: relative;
    left: 1rem;
    top: 1rem;
    width: 8rem;
}

.header{
    width: 10rem;
    height: 2rem;
    background: #ffd600;
}
#header_login{
    color: #fff;
    font-size: 0.6rem;
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 0.25rem;
    left: 40%;
}

