{% extends 'axf/main/main.html' %}
{% load staticfiles %}

{% block mainResource %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block content %}

    <!--轮播-->
    <section class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
            {% for item in wheels %}
                <div class="swiper-slide">
                    <a href="#"><img src="{{ item.img }}"/></a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </section>

{% endblock %}